@charset "UTF-8";

:root{
    --jonquil: #E6C300;
    --sgbus: #28E600;
    --turkeyred: #A50000;
    --zaffre: #0018B2;
    --dimgray: #6F6F6F;;

}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:active, a:visited{
    color: var(--zaffre);
}

body {
    background-color: var(--dimgray);
}

header{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.logo-img{
    max-width: 60px;

}
.titulo-principal {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    padding-left: 20px;
    color: #000000;
    font-size: 1.25em;
}
.menu-livros {
    padding-left: 20px;
    font-size: 1em;
}

.secao-1 {
    padding: 30px;
    text-align: justify;
    border: 1px solid;
    margin: auto;
    max-width: 700px;
    max-height: auto;
    margin-bottom: 30px;
}

.titulo-secao {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}

.titulo-artigo {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

p {
    line-height: 1.5;
    padding-bottom: 8px;
    background-color: #ffffff;
}

.itens-lista {
    line-height: 1.5;
    padding-bottom: 8px;
    font-size: 1em;
}

.item-lista {
    list-style: disc;
}

.item-lista a {
    color: var(--zaffre);
    transition: 0.3s ease;
    font-weight: 600;
    font-size: 1.25em;
}

.item-lista a:hover {
    color: var(--sgbus);
}

.fotos-minhas {
    margin: auto;
}

img {
    max-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}

.pictureContent img {
    border: solid var(--turkeyred);
    border-radius: 10px;
}




